/* BACKGROUND IMAGE OF WEBSITE */
body {
    background-image: url("home-background-image.png");
}

/* NAV BAR CONTAINER */
.TOCContainer {
    border: 0.0625rem solid;
    width: 100%;
    height: 10vh;
    font-family: "Quicksand", "Garamond", serif;
}

/* EACH OPTION IN THE NAV BAR TABLE */
.TOC {
    border: 0.0625rem solid;
    font-family: "Quicksand", "Garamond", serif;
    font-size: large;
    text-align: center;
    color: white;
}

/* MAKING SURE THE BUTTONS DONT THROW OFF THE FLOW */
.navBar {
    background-color: #393939;
    color: white;
    font-family: "Quicksand", "Garamond", serif;
    font-size: clamp(0.625rem, 2vw, 2.1875rem);
    width: 100%;
    height: 100%;
}

/* CHANGE BUTTON COLOR WHEN MOUSE IS OVER */
.navBar:hover {
    background-color: rgba(0,0,0,0.8);
}

/* HEADER CAPTIONS */
h1 {
    text-align: center;
    color: white;
    font-family: "Vergilia", "Garamond", serif;
}

/* LITTLE IMAGES BESIDE TITLE */
#TitleImage {
    display: inline;
}

/* SIDE NAV BAR STYLE */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
}

/* SIDE NAV TEXT STYLE */
.sidenav a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.5625rem;
    color: white;
    display: block;
    transition: 0.3s;
}

/* CHANGE TEXT WHEN HOVERED */
.sidenav a:hover {
    color: #818181;
}

/* SIDE NAV X BUTTON TO CLOSE BAR */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
}

/* HEADERS TO EACH LINK SEGMENT */
.SideBarHeaders {
    color: white;
    font-family: "Vergilia", "Garamond", serif;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

/* EMAIL TEXT IN SIDE NAV */
.Email {
    color: white;
    font-family: "Vergilia", "Garamond", serif;
    font-size: 0.625rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

/* COMMENTS HEADER */
.sections {
    text-align: left;
    padding-left: 6.25rem;
    color: #53c2ba;
    font-family: "Vergilia", "Garamond", serif;
    font-size: clamp(32px, 3vh, 64px);
}

/* MAKE SURE ABOUT ME PICTURE IS ON THE RIGHT */
#aboutPicture {
    position: absolute;
    width: clamp(20rem, 40vw, 40rem);
    height: clamp(12.5rem, 25vw, 25rem);
    right: 3.125rem;
}

/* ABOUT ME TEXT AND COMMENTS */
.SectionText {
    text-align: left;
    padding-left: 6.25rem;
    width: 40%;
    color: #bff5f1;
    font-size: clamp(24px, 1.5vh, 48px);
}

/* SPOTIFY DISPLAY */
#SpotifyEmbed {
    padding-left: 6.25rem;
    margin-right: 3.125rem;
}

/* LOOKING FOR ARTIST HEADER */
#UnknownArtist {
    text-align: center;
    color: #53c2ba;
    font-family: "Times New Roman", "Georgia", serif;
    font-size: clamp(32px, 3vh, 64px);
}

/* LOOKING FOR ARTIST TEXT */
#ArtistSection {
    text-align: center;
    padding-left: 16rem;
    padding-right: 16rem;
    color: #bff5f1;
    font-size: clamp(24px, 1.5vh, 48px);
}

/* COMMENT NAME SUBMISSION OVERLAY CONTAINER */
.overlay-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}

/* COMMENT NAME SUBMISSION OVERLAY BACKGROUND */
.overlay-content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    margin-top: -15.6875rem;
    left: 50%;
    margin-left: -25rem;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

/* COMMENT NAME SUBMISSION OVERLAY BACK BUTTON */
#backButton {
    position: absolute;
    background-color: #393939;
    color: white;
}

/* COMMENT NAME SUBMISSION OVERLAY BACK BUTTON HOVER */
#backButton:hover {
    background-color: #1e1e1e;
}

/* COMMENT NAME SUBMISSION OVERLAY TEXT */
.text-forms {
    position: absolute;
    font-family: "Quicksand", "Garamond", serif;
    font-size: 6.25rem;
    text-align: center;
    color: white;
    margin-top: -31.25rem;
    margin-left: 3.75rem;
    z-index: 2;
}

/* COMMENT NAME SUBMISSION OVERLAY FORM */
#commentName {
    resize: none;
    border: 0.0625 solid;
    background-color: #ffffff;
    color: black;
    font-family: "Quicksand", "Garamond", serif;
    font-size: large;
    width: 37.5rem;
    height: 2.5rem;
}

/* COMMENT NAME SUBMISSION OVERLAY CONFIRM BUTTON */
#confirmButton {
    resize: none;
    background-color: #393939;
    color: white;
    font-family: "Quicksand", "Garamond", serif;
    font-size: xx-large;
    width: 12.5rem;
    height: 6.25rem;
}

/* COMMENT NAME SUBMISSION OVERLAY CONFIRM BUTTON HOVER */
#confirmButton:hover {
    background-color: #1e1e1e;
}

/* COMMENTS INPUT BOX */
form {
    text-align: left;
    padding-left: 6.25rem;
    font-family: "Quicksand", "Garamond", serif;
}

/* COMMENT TEXT BOX */
#commentText {
    resize: none;
    border: 0.0625rem solid;
    border-color: #53c2ba;
    background-color: #393939;
    color: white;
    font-family: "Quicksand", "Garamond", serif;
    font-size: clamp(24px, 1.5vh, 48px);
    width: 25rem;
    height: 5rem;
}

/* COMMENT SUBMISSION BUTTON */
#commentButton {
    margin-left: 19.25rem;
    resize: none;
    background-color: #393939;
    color: white;
    font-family: "Quicksand", "Garamond", serif;
    font-size: large;
}

/* COMMENT SUBMISSION BUTTON HOVER */
#commentButton:hover {
    background-color: #1e1e1e;
}

/* COMMENTS THAT HAVE BEEN WRITTEN CONTAINER */
.allComments {
    text-align: left;
    padding-left: 6.25rem;
    width: 40%;
    color: white;
    font-family: "Quicksand", "Garamond", serif;
    font-size: clamp(24px, 1.5vh, 48px);
}

/* COMMENTS THAT HAVE BEEN WRITTEN NAMES */
#commentUID {
    font-size: clamp(24px, 1.5vh, 48px);
    color: #53c2ba;
}

/* COMMENTS THAT HAVE BEEN WRITTEN DATE */
#commentDate {
    font-size: 1.125rem;
    color: #bff5f1;
}

/* SIDE NAV ANIMATION */
@media screen and (max-height: 28.125rem) {
    .sidenav {padding-top: 0.9375rem;}
    .sidenav a {font-size: 1.125rem;}
}

/* IMPORTED FONTS */
@font-face {
    font-family: Quicksand;
    src: url("Quicksand-Regular.ttf");
}

@font-face {
    font-family: Vergilia;
    src: url("Vergilia.ttf");
}